<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank

      
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    The world is your oyster.
    <p>If you get lost, the <a target="_blank" rel="noopener" href="https://ionicframework.com/docs/">docs</a> will be your guide.</p>
  </div>
  
</ion-content>
<ion-footer>
        
          <span><ion-icon name="logo-twitter" class=""></ion-icon>
           
            </span>
          <span><ion-icon name="logo-facebook"></ion-icon>
            
            </span>
          <span><ion-icon name="logo-instagram"></ion-icon>
            
            </span>
          <span><ion-icon name="logo-linkedin"></ion-icon>
            
            </span>
          <span><ion-icon name="logo-youtube"></ion-icon>
            
            </span>
            
       
  <ion-toolbar>
    <ion-title style="text-align:center;">
        www.ead.ae
    </ion-title>

    <p style="text-align:center;">
        Environment Agency-Abudhabi@2019     </p>
        <p style="text-align:center;">
            Terms and Conditions | Privacy Policy   </p>
         <p style="text-align:center;">Version2.0 Updated on:01 June 2019</p>



 
  </ion-toolbar>
</ion-footer>